.left-side-header img {
    height: 30px;
    width: 30px;
    cursor: pointer;
}

header {
    width: 100vw;
    height: 5rem;
    position: fixed;
  
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    align-items: center;

}
a{
    text-decoration: none;
    color: black;
    font-weight: 900;
}
a:hover{
    color: skyblue;
}
ul {
    display: flex;
    gap: 2rem;
}
li {
    list-style-type: none;
    font-weight: 900;
}
li:hover{
  cursor: pointer;
  color: brown;
}
